/* Hero Section */
.hero-section {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('glof_background.jpg') no-repeat center center;
    background-size: auto %; /* Increase background size vertically */
    height: 150vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

/* Container for Text */
.hero-section .container {
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
    padding: 30px;
    border-radius: 15px;
}

/* Hero Section Title */
.hero-section h1 {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 2px;
    color: #ffffff;
    margin-bottom: 20px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

/* Hero Section Subtitle */
.hero-section .lead {
    font-size: 1.5rem;
    color: #ffffff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

/* Adjusting spacing between the title and subtitle */
.hero-section .container h1, .hero-section .container .lead {
    margin-bottom: 20px;
}
